html {
	font-family: DIN Next Light, Arial, Helvetica, sans-serif;
}

body {
  background-image: url(https://cdn.rawgit.com/QueerCode/quizcode/src/images/background_quiz.gif?raw=true);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat:no-repeat;
  color: #fff;
}

img {
	max-width: 100%;
    height: auto;
}

h1 {
  color: #63c5bc;
}

h4 {
	color: #714A78;
}

.faded {
  color: #777;
}

#quiz-counter {
  color: #ab89b3;
}
.quiz-container {
    padding: 0.35em;
    max-width: 650px;
    margin: auto auto;
}

.quiz-container a {
    text-decoration: none;
    color: #333;
}


#quiz-start-screen,
#quiz-results-screen ,
#quiz-counter {
    text-align: left;
}

.question {
    font-size: 1.25em;
}

.answers {
    list-style: none;
    padding: 0;
}

.answers a {
    display: block;
    padding: 0.5em 1em;
    margin-bottom: 0.5em;
    background: #fff;
}

.answers a.correct {
    background: #090;
}
.answers a.incorrect {
    background: #c00;
}

.answers a.correct,
.answers a.incorrect {
    color: #fff;
}

#quiz-controls {
    background: #906099;
    color: #111;
    padding: 0.25em 0.5em 0.5em;
    text-align: justify;
	overflow : hidden;
	
}

#quiz-response {}

#quiz-results {
    font-size: 1.25em;
	text-align: justify;
}

#quiz-buttons a,
.quiz-container .quiz-button {
    display: inline-block;
    padding: 0.5em 1em;
    background: #88449a;
    color: #fff;
	float: right;
}

#custom-home  a,
.quiz-button {
	position: relative;
	float: right;
	top: 15em;
}

#quiz-buttons a {
    background: #fff;
    color: #333;
}

/* Quiz State Overrides */

.quiz-results-state #quiz-controls {
    background: none;
    padding: 0;
}
.quiz-results-state #quiz-buttons a {
    background: #88449a;
    color: #fff;
}